---
import { Icon } from '@iconify-icon/react';
import Layout from '../layouts/Layout.astro';
import ContactForm from '../components/contact/ContactForm';
import Columns from '../components/structure/Columns';
---

<Layout title="Contact | Harrison Bouche" activePage="Contact">
    <section id="heading">
        <h1>Contact</h1>
    </section>
    <section class="w-full">
        <Columns>
            <div>
                <h2>Reach Out Directly</h2>
                <p class="flex items-center gap-1">
                    <Icon className="icon" icon="tabler:phone" />
                    <a class="text-primary hover:text-secondary font-bold underline" href="tel:9063997469">(906) 399-7469</a>
                </p>
                <p class="flex items-center gap-1">
                    <Icon className="icon" icon="tabler:mail" />
                    <a class="text-primary hover:text-secondary font-bold underline" href="mailto:harrison@sm.media">harrison@sm.media</a>
                </p>
            </div>
            <div>
                <h2>Send a Message</h2>
                <ContactForm client:load />
            </div>
        </Columns>
    </section>
</Layout>