---
import { Icon } from '@iconify-icon/react';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Harrison Bouche" activePage="Contact">
    <section id="heading">
        <h1>Contact</h1>
    </section>
    <section class="columns">
        <div class="box-w12">
            <h2>Reach Out Directly</h2>
            <p>
                <Icon className="icon" icon="tabler:phone" /> <a class="txt-clrtp txth-clrts txt-wb" href="tel:9064482138">(906) 458-2138</a> <br />
                <Icon className="icon" icon="tabler:mail" /> <a class="txt-clrtp txth-clrts txt-wb" href="mailto:harrison@sm.media">harrison@sm.media</a>
            </p>
        </div>
        <div class="box-w12">
            <h2>Send a Message</h2>
            <div id="contact-form">
                <div>
                    <label for="name-input">Name:</label>
                    <input id="name-input" type="text" placeholder="John Smith" required/>
                </div>
                <div>
                    <label for="email-input">Email Address:</label>
                    <input id="email-input" type="email" placeholder="johnsmith@orchard.co" required/>
                </div>
                <div>
                    <label for="subject-input">Subject:</label>
                    <input id="subject-input" type="text" placeholder="Subject" required/>
                </div>
                <div>
                    <label for="msg-input">Message:</label>
                    <textarea id="msg-input" required></textarea>    
                </div>
                <button id="form-button" class="button">Send Message</button>
            </div>
            
        </div>
    </section>
</Layout>

<style>
    br {
        margin-bottom: 3px;
    }

    .icon {
        padding: 0 6px 0 3px;
        transform: translateY(3px) scale(1.25);
    }

    #contact-form {
        width: 90%;

        display: grid;
        row-gap: 12px;
    }

    #contact-form div {
        display: flex;
        flex-direction: column;
    }
    
    #contact-form input, #contact-form textarea {
        padding: 6px;
        
        border-radius: 12px;
        border: 3px solid var(--clr-tan-tertiary);
        box-shadow: 0 3px 6px var(--clr-tan-bg);

        transition: 0.1s;
    }
    #contact-form input:focus, #contact-form textarea:focus {
        border-color: var(--clr-tan-secondary);
        box-shadow: 0 3px 6px var(--clr-tan-tertiary);
        outline: none;
    }

    #contact-form label {
        font-weight: bold;
    }

    #contact-form textarea {
        height: 8rem;
    }

    #contact-form .button {
        padding: 6px;
        color: var(--clr-tan-primary);
        background-color: var(--clr-tan-tertiary);
        border: 3px solid var(--clr-tan-secondary);
        border-radius: 12px;
    }
    #contact-form .button:disabled {
        filter: grayscale(90%);
    }
    #contact-form .button:disabled:hover {
        border-color: var(--clr-tan-secondary);
        background-color: var(--clr-tan-tertiary);
        cursor: initial;
    }

    #contact-form .button:hover {
        background-color: var(--clr-tan-secondary);
        border-color: var(--clr-tan-primary);
        cursor: pointer;
    }

    @media only screen and (max-width: 560px) {
		.columns {
			flex-direction: column;
		}
    }
</style>

<script>
    const inputs = {
        name: (<HTMLInputElement>document.getElementById("name-input")),
        email: (<HTMLInputElement>document.getElementById("email-input")),
        subject: (<HTMLInputElement>document.getElementById("subject-input")),
        message: (<HTMLInputElement>document.getElementById("msg-input")),
    };
    const inputButton = (<HTMLButtonElement>document.getElementById("form-button"));

    if (inputButton) {
        inputButton.addEventListener("click", () => {
            inputButton.disabled = true;
            fetch("https://formsubmit.co/ajax/harrison@sm.media", {
                method: "POST",
                headers: { 
                    'Content-Type': 'application/json',
                    'Accept': 'application/json'
                },
                body: JSON.stringify({
                    name: inputs.name.value,
                    email: inputs.email.value,
                    subject: inputs.subject.value,
                    message: inputs.message.value
                })
            }).then(() => {
                Object.values(inputs).forEach(input => {
                    input.value = "";
                });
            });
        });
    }
</script>