---

---

<div id="breakaway-box">
    <figure></figure>
    <div>
        <slot />
    </div>
</div>

<style>
    #breakaway-box {
        display: grid;
        grid-template-columns: 9px 1fr;

        border-radius: 6px;
        overflow: hidden;
    }
    
    #breakaway-box figure {
        background-color: var(--clr-tan-primary);
    }

    #breakaway-box div {
        padding: 12px;
        background-color: var(--clr-tan-tertiary);
    }
</style>