---
import Icon from "@iconify/svelte"

const menuPages = [
	{
		name: "Home",
		url: "/",
		icon: "tabler:home",
	},
	{
		name: "Portfolio",
		url: "/portfolio",
		icon: "tabler:package",
	},
	{
		name: "Resume",
		url: "/resume",
		icon: "tabler:notebook",
	},
	{
		name: "About Me",
		url: "/about-me",
		icon: "tabler:user",
	},
	{
		name: "Contact",
		url: "/contact",
		icon: "tabler:mail",
	},
]

const { activePage } = Astro.props
---

<script defer>
	let hamburger = document.getElementsByClassName("hamburger")[0]
	let menu = document.getElementById("menu-box")

	hamburger.addEventListener("click", () => {
		hamburger.classList.toggle("flip")
		menu.classList.toggle("mobileView")
	})
</script>

<menu class="desktop">
	<Icon class="hamburger" icon="tabler:menu-2" client:load />
	<div id="menu-box" class="mobileView">
		<div id="menu-item-box">
			{
				menuPages.map((item) => (
					<a
						class={
							"menu-item" +
							(activePage === item.name
								? " active"
								: " not-active")
						}
						href={item.url}>
						<Icon class="menu-icon" icon={item.icon} client:load />
						<p>{item.name}</p>
					</a>
				))
			}
		</div>
		<hr id="menu-bar" />
	</div>
</menu>

<style>
	menu {
		width: 660px;
		margin: 0 24px 0 auto;
		padding: 6px 12px 12px 12px;
		position: static;
		top: -40px;
		z-index: 0;

		background-color: var(--clr-tan-bg);
		border-radius: 24px;
		box-shadow: -12px 12px 3px var(--clr-tan-bg);
	}

	.hamburger {
		display: none;
	}

	#menu-item-box {
		width: 600px;
		height: 100px;
		margin-bottom: 10px;

		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}

	.menu-item {
		margin: 0 5px;
		padding: 10px 10px;

		display: flex;

		color: var(--clr-tan-primary);
		text-decoration: none;
		font-weight: bold;

		border-radius: 12px;

		transition: 0.3s cubic-bezier(0.55, 2, 0.36, 0.65);
	}
	.menu-item:focus {
		outline: none;
	}

	.active {
		background-color: var(--clr-tan-tertiary);
		border: 2px solid var(--clr-tan-secondary);
		box-shadow: 0 3px 10px var(--clr-tan-tertiary);
	}

	.active p {
		pointer-events: none;
	}

	.menu-icon {
		height: 20px;
		margin: 3px 3px 0 0;
		transition: 0.2s ease-in 0.05s;
	}

	.not-active .menu-icon {
		border-bottom: 2px solid var(--clr-tan-primary);
	}

	.not-active::before {
		content: "";
		position: absolute;
		width: 20px;
		height: 20px;
		margin-top: 3px;

		display: block;
		z-index: 2;

		border-bottom: 2px solid var(--clr-tan-bg);

		transition: 0.2s ease-in 0.05s;
	}

	.not-active:hover .menu-icon {
		margin: -3px 3px 0 0;
		padding-bottom: 1px;
	}

	.not-active:hover::before {
		width: 0px;
		padding-bottom: 1px;
		margin: -3px 3px 0 0;
	}

	.menu-item p {
		display: inline-block;
		margin: 0 3px;
		transition: 0.3s ease-out;
	}

	.not-active:hover p {
		transform: translateY(-3px);
	}

	#menu-bar {
		width: 600px;
		height: 0px;

		border: 0;
		border-top: 5px dotted;
	}

	@media only screen and (max-width: 1000px) {
		menu {
			margin: auto;
		}
	}

	@media only screen and (max-width: 670px) {
		menu {
			width: 95%;
		}

		#menu-item-box {
			max-width: 100%;
		}

		#menu-bar {
			width: 100%;
		}
	}

	@media only screen and (max-width: 640px) {
		menu {
			font-size: 1.25rem;
		}

		.hamburger {
			margin-top: 18px;

			position: relative;
			z-index: 2;
			left: 6px;

			font-size: 2.5rem;

			display: block;

			transition: 3s linear;
		}

		.mobileView {
			display: none;
		}

		#menu-item-box {
			width: 100%;
			height: auto;
			padding: 84px 24px 24px;

			z-index: 1;
			position: absolute;
			top: 0;
			left: 0;

			flex-direction: column;
			align-items: flex-start;

			background-color: var(--clr-tan-tertiary);
			box-shadow: -3px -3px 18px var(--clr-tan-secondary);
		}

		#menu-bar {
			display: none;
		}
	}
</style>
