#pictures-box {
	aspect-ratio: 16 / 9;
	margin: 18px 0;

	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(6, 1fr);
	gap: 12px;
}

.picture {
	background-size: cover;
	background-position: center;
	border-radius: 12px;
	box-shadow: 0 3px 9px var(--clr-tan-tertiary);

	transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* .picture:hover {
    transform: translateY(-3px);
    box-shadow: 0 9px 15px var(--clr-tan-tertiary);
} */

.pictures-length1 {
	grid-area: 1 / 1 / 7 / 7;
}

.pictures-length2:nth-of-type(1) {
	grid-area: 1 / 1 / 7 / 4;
}
.pictures-length2:nth-of-type(2) {
	grid-area: 1 / 4 / 7 / 7;
}

.pictures-length3:nth-of-type(1) {
	grid-area: 1 / 1 / 7 / 5;
}
.pictures-length3:nth-of-type(2) {
	grid-area: 1 / 5 / 4 / 7;
}
.pictures-length3:nth-of-type(3) {
	grid-area: 4 / 5 / 7 / 7;
}

.pictures-length4plus:nth-of-type(1) {
	grid-area: 1 / 1 / 7 / 5;
}
.pictures-length4plus:nth-of-type(2) {
	grid-area: 1 / 5 / 3 / 7;
}
.pictures-length4plus:nth-of-type(3) {
	grid-area: 3 / 5 / 5 / 7;
}
.pictures-length4plus:nth-of-type(4) {
	grid-area: 5 / 5 / 7 / 7;
}
