---
import Menu from "../components/Menu.svelte"
import Footer from "../components/Footer.svelte"
import "../stylesheets/defaults.css"

interface Props {
	title: string
}

// Grab first level of URL path (e.g., /portfolio)
const currentPath = Astro.url.pathname.match(/\/[^\/]*/)![0]

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;0,900;1,400&display=swap"
			rel="stylesheet"
		/>
		<script
			src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"
		></script>
	</head>
	<body>
		<Menu currentPath={currentPath} client:load />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style is:global>
	/* Styling content setup */
	.columns {
		display: flex;
		flex-flow: row nowrap;
		justify-content: center;
		gap: 24px;
	}
	.columns hr {
		width: 0;
		height: 48px;

		border: 0;
		border-right: 5px dotted;
		border-spacing: 10px;
	}
</style>
