---
import Gallery from "../../components/Gallery";
import Portfolio from "../../layouts/Portfolio.astro";

const { PUBLIC_SITEURL } = import.meta.env;
const portfolioGallery:string = `${PUBLIC_SITEURL}/images/portfolio/nmu-cams/`;
---

<Portfolio entry="NMU: CAMS Dept." lastPage={{title: "Harrisonbouche.com", link: "./harrisonbouche-com"}} nextPage={{title: "U.P. Lions Serve", link: "./up-lions-serve"}} >

    <h3>Overview</h3>
    <p>
        The Northern Michigan University Communications and Multimedia Studies (CAMS) Department hired me for an internship in the Summer of 2022 to rebuild their website and create content for their Facebook page. The website updates are available to view on development pages linked below
    </p>
    <br />

    <h3>Website Development</h3>
    <Gallery galleryJson={portfolioGallery} galleryName="website" client:idle />
    <p>
        After some conversations about the goals of the website, my main task became reorganizing content to be more accessible and inviting for new students. The NMU website is built with Drupal, and I am unaware if this is a problem with the website theme or Drupal as a website editor, but the build tools were absolutely atrocious to work with. However, I was able to develop some weird workarounds that presented the information close to the way I wanted it to be.
    </p>
    <p>Page Links:</p>
    <ul>
        <li><a href="https://nmu.edu/cams/home-2" target="_blank">Home page</a></li>
        <li><a href="https://nmu.edu/cams/about-us-2" target="_blank">About Us</a></li>
        <li><a href="https://nmu.edu/cams/programs-0" target="_blank">Programs</a></li>
        <li><a href="https://nmu.edu/cams/students-2" target="_blank">Students</a></li>
        <li><a href="https://nmu.edu/cams/alumni" target="_blank">Alumni</a></li>
    </ul>

</Portfolio>