---
import Gallery from "../../components/Gallery.svelte"
import Portfolio from "../../layouts/Portfolio.astro"

const { PUBLIC_SITEURL } = import.meta.env
const portfolioGallery: string = `${PUBLIC_SITEURL}/images/portfolio/upls/`
---

<Portfolio
	entry="U.P. Lions Serve"
	lastPage={{ title: "NMU: CAMS Dept.", link: "./nmu-cams" }}
	nextPage={{ title: "Tour Da Yoop, Eh", link: "./tour-da-yoop-eh" }}>
	<h3>Overview</h3>
	<p>
		Upper Peninsula (U.P.) Lions Serve is a branch of the <a
			href="https://www.district10lions.org/"
			target="_blank">District 10 Lions Club</a
		> that services the Upper Peninsula of Michigan. Lions Chris Smith (Chairwoman
		of the Childhood Cancer Program) and Gary Perala (Chairman of the Defense
		Against Diabetes Program) saught to create a more user-friendly portal to
		advertise their programs and collect donations.
	</p>
	<p>
		In May 2021, I was interviewed and brought in by their outgoing web
		developer. At the time, the <a
			href="https://uplionsserve.org/cc"
			target="_blank">Childhood Cancer Program</a
		> portion of the website was the only available content to view. Since then,
		I have worked to design critical branding, develop and launch the <a
			href="https://uplionsserve.org/dad"
			target="_blank">Defense Against Diabetes</a
		> portion of the website alongside the launch menu, migrate the server backend,
		and integrate the CC Program with <a href="./tour-da-yoop-eh"
			>Tour Da Yoop, Eh's</a
		> web presence.
	</p>
	<br />

	<h3>Website Development</h3>
	<Gallery galleryJson={portfolioGallery} galleryName="website" client:idle />
	<p>
		I contributed development effort towards the home page and CC sub-site,
		and built the DAD sub-site single-handedly. The majority of the design
		for the program sub-sites were done by the previous developer, <a
			href="https://colerobertfisher.com/"
			target="_blank">Cole Robert Fisher</a
		>.
	</p>
	<p>
		The websites were built with vanilla HTML, CSS, and JavaScript. Mine and
		Cole's design work was done in Adobe Illustrator. As this work was some
		of my earliest while I was learning on the job, the implementation of
		the code is somewhat slow and heavy. If I get the chance, I'd like to go
		back in and make it more manageable.
	</p>
	<br />

	<h3>Branding Design</h3>
	<Gallery
		galleryJson={portfolioGallery}
		galleryName="branding"
		client:visible
	/>
	<p>
		One of my first jobs was to design a logo for the U.P. Lions Serve
		brand. after going through a smorgasbord of design ideas, we settled on
		a sleek wordmark emphasizing the "U.P." and "Serve." The logo now sees
		use across the websites and on physical collateral.
	</p>
	<p>
		In early 2022, we began talks in bringing the District 10 Hunger Program
		under the U.P. Lions Serve umbrella. While its sub-site is still in
		development, the D10H imagery seen on the right serves as the official
		logo for the program.
	</p>
	<br />

	<h3>Digital Backend</h3>
	<p>
		After Cole left the project, I became the de facto digital administrator
		for the online services U.P. Lions Serve utilizes. I oversee utilities
		from Google Workspace, their digital office, to Donorbox, their donation
		platform, along with Stripe and Paypal to act as payment processors.
	</p>
	<p>
		After a surge in activity in December 2021, I migrated the site from
		Google Firebase to a more robust Digital Ocean server to keep up with
		the demand.
	</p>
</Portfolio>
